body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 20px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}
header h1{
    left: 50;
}
